{
  "openapi": "3.1.0",
  "info": {
    "title": "InferSports API",
    "version": "1.0.0",
    "description": "Sharp Asian odds for agents \u2014 live football & basketball: Asian-handicap (quarter lines with win / half-win / push), de-vigged sharp (Pinnacle) fair probabilities, live scores, opening lines, and value detection. Read-only. Keyless Free tier; an optional isk_ key raises limits and unlocks the sharp book.",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://api.infersports.dev"
    }
  ],
  "paths": {
    "/v1/sports": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "List Sports",
        "operationId": "list_sports_v1_sports_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataList_Sport_"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bookmakers": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "List Bookmakers",
        "operationId": "list_bookmakers_v1_bookmakers_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataList_Bookmaker_"
                }
              }
            }
          }
        }
      }
    },
    "/v1/leagues": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "List Leagues",
        "operationId": "list_leagues_v1_leagues_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "fuzzy name filter (e.g. 'world cup')",
              "title": "Q"
            },
            "description": "fuzzy name filter (e.g. 'world cup')"
          },
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sport"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paginated_League_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "List Teams",
        "operationId": "list_teams_v1_teams_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "fuzzy name filter",
              "title": "Q"
            },
            "description": "fuzzy name filter"
          },
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sport"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paginated_Team_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "List Events",
        "operationId": "list_events_v1_events_get",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sport"
            }
          },
          {
            "name": "league",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "league id (lg_\u2026) or name (fuzzy-matched, e.g. 'World Cup')",
              "title": "League"
            },
            "description": "league id (lg_\u2026) or name (fuzzy-matched, e.g. 'World Cup')"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "calendar date YYYY-MM-DD (UTC day unless timezone given)",
              "title": "Date"
            },
            "description": "calendar date YYYY-MM-DD (UTC day unless timezone given)"
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "IANA timezone for the date's day boundary (e.g. Asia/Shanghai); default UTC",
              "title": "Timezone"
            },
            "description": "IANA timezone for the date's day boundary (e.g. Asia/Shanghai); default UTC"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "scheduled | live | finished",
              "title": "Status"
            },
            "description": "scheduled | live | finished"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paginated_Event_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/live": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "List Live Events",
        "operationId": "list_live_events_v1_events_live_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataList_Event_"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{event_id}": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get Event",
        "operationId": "get_event_v1_events__event_id__get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Event Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{event_id}/state": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get Event State",
        "operationId": "get_event_state_v1_events__event_id__state_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Event Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventState"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{event_id}/odds": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get Event Odds",
        "operationId": "get_event_odds_v1_events__event_id__odds_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Event Id"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "comma-separated bookmaker keys",
              "title": "Bookmakers"
            },
            "description": "comma-separated bookmaker keys"
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "comma-separated market types",
              "title": "Markets"
            },
            "description": "comma-separated market types"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "full_time | half_time",
              "title": "Period"
            },
            "description": "full_time | half_time"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "decimal",
              "title": "Format"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OddsBlock"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{event_id}/opening": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get Event Opening",
        "description": "Opening odds (\u521d\u76d8) for this match's currently-visible quotes.\n\nFor each current quote the caller may see, returns the upstream's frozen first-seen price at the\nsame bookmaker / market / period / line \u2014 compare against ``/odds`` to read line movement. 1x2\nyields one opening per book; totals/AH yield the opening at each current line. Best-effort: a\nbookmaker/line with no opening on file is omitted (the lookup is a single-point, fail-open call).",
        "operationId": "get_event_opening_v1_events__event_id__opening_get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Event Id"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "comma-separated bookmaker keys",
              "title": "Bookmakers"
            },
            "description": "comma-separated bookmaker keys"
          },
          {
            "name": "markets",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "comma-separated market types",
              "title": "Markets"
            },
            "description": "comma-separated market types"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "full_time | half_time",
              "title": "Period"
            },
            "description": "full_time | half_time"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "decimal",
              "title": "Format"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventOpening"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{event_id}/odds/{market_type}": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "Get Event Odds For Market",
        "operationId": "get_event_odds_for_market_v1_events__event_id__odds__market_type__get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Event Id"
            }
          },
          {
            "name": "market_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Market Type"
            }
          },
          {
            "name": "bookmakers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Bookmakers"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Period"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "decimal",
              "title": "Format"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OddsBlock"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/results": {
      "get": {
        "tags": [
          "results"
        ],
        "summary": "List Results",
        "operationId": "list_results_v1_results_get",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "UTC kickoff date YYYY-MM-DD",
              "title": "Date"
            },
            "description": "UTC kickoff date YYYY-MM-DD"
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "case-insensitive substring on either team",
              "title": "Team"
            },
            "description": "case-insensitive substring on either team"
          },
          {
            "name": "league",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "case-insensitive substring on the league name",
              "title": "League"
            },
            "description": "case-insensitive substring on the league name"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "max results (most-recent-first)",
              "default": 50,
              "title": "Limit"
            },
            "description": "max results (most-recent-first)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/results/{event_id}": {
      "get": {
        "tags": [
          "results"
        ],
        "summary": "Get Result",
        "operationId": "get_result_v1_results__event_id__get",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Event Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/resolve/event": {
      "post": {
        "tags": [
          "resolve"
        ],
        "summary": "Resolve Event",
        "operationId": "resolve_event_v1_resolve_event_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveEventRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveEventResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/resolve/team": {
      "post": {
        "tags": [
          "resolve"
        ],
        "summary": "Resolve Team",
        "operationId": "resolve_team_v1_resolve_team_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveTeamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveTeamResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/resolve/league": {
      "post": {
        "tags": [
          "resolve"
        ],
        "summary": "Resolve League",
        "operationId": "resolve_league_v1_resolve_league_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveLeagueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveLeagueResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/convert/odds": {
      "post": {
        "tags": [
          "convert"
        ],
        "summary": "Convert Odds",
        "operationId": "convert_odds_v1_convert_odds_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertOddsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertOddsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/convert/handicap": {
      "post": {
        "tags": [
          "convert"
        ],
        "summary": "Convert Handicap",
        "operationId": "convert_handicap_v1_convert_handicap_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertHandicapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertHandicapResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/tools": {
      "get": {
        "tags": [
          "mcp"
        ],
        "summary": "List Tools",
        "description": "Discovery manifest of the available MCP tools.",
        "operationId": "list_tools_v1_mcp_tools_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response List Tools V1 Mcp Tools Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/get_sharp_line": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "Get Sharp Line",
        "operationId": "get_sharp_line_v1_mcp_get_sharp_line_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SharpLineRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharpLineResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/find_match": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "Find Match",
        "operationId": "find_match_v1_mcp_find_match_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindMatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindMatchResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/get_match_odds": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "Get Match Odds",
        "operationId": "get_match_odds_v1_mcp_get_match_odds_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMatchOddsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchOddsResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/compare_lines": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "Compare Lines",
        "operationId": "compare_lines_v1_mcp_compare_lines_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompareLinesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompareLinesResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/explain_handicap": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "Explain Handicap",
        "operationId": "explain_handicap_v1_mcp_explain_handicap_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExplainHandicapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertHandicapResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/list_today_matches": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "List Today Matches",
        "operationId": "list_today_matches_v1_mcp_list_today_matches_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTodayMatchesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TodayMatchesResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/list_events": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "List Events",
        "operationId": "list_events_v1_mcp_list_events_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListEventsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEventsResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/match_info": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "Match Info",
        "operationId": "match_info_v1_mcp_match_info_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchInfoResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/list_bookmakers": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "List Bookmakers",
        "operationId": "list_bookmakers_v1_mcp_list_bookmakers_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBookmakersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookmakersResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/get_opening_line": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "Get Opening Line",
        "operationId": "get_opening_line_v1_mcp_get_opening_line_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpeningLineRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpeningLineResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/find_value": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "Find Value",
        "operationId": "find_value_v1_mcp_find_value_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindValueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindValueResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/compare_prob": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "Compare Prob",
        "operationId": "compare_prob_v1_mcp_compare_prob_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompareProbRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompareProbResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/score_prob": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "Score Prob",
        "operationId": "score_prob_v1_mcp_score_prob_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScoreProbRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreProbResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/find_arbitrage": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "Find Arbitrage",
        "operationId": "find_arbitrage_v1_mcp_find_arbitrage_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindArbitrageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindArbitrageResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/scan_slate": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "Scan Slate",
        "operationId": "scan_slate_v1_mcp_scan_slate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanSlateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanSlateResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/list_results": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "List Results",
        "operationId": "list_results_v1_mcp_list_results_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListResultsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResultsResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/get_result": {
      "post": {
        "tags": [
          "mcp"
        ],
        "summary": "Get Result",
        "operationId": "get_result_v1_mcp_get_result_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetResultRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetResultResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "ops"
        ],
        "summary": "Health",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Health Health Get"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "ops"
        ],
        "summary": "Usage",
        "description": "Request / error / latency metrics for the CALLER'S OWN key (PRD-v3 \u00a77).\n\nRequires a real API key \u2014 keyless callers are rejected. Scoped to the caller: only this key's\nown bucket is returned (masked), never the full per-key map, so one customer can't read another\ncustomer's key material or usage. The session-scoped dashboard uses /platform/usage instead.",
        "operationId": "usage_v1_usage_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Usage V1 Usage Get"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArbLeg": {
        "properties": {
          "outcome": {
            "type": "string",
            "title": "Outcome",
            "description": "home | draw | away | over | under."
          },
          "bookmaker": {
            "type": "string",
            "title": "Bookmaker",
            "description": "Book offering the best price for this leg (its key)."
          },
          "price": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "integer"
              }
            ],
            "title": "Price",
            "description": "Best price for this leg, in the requested format."
          },
          "decimal": {
            "type": "number",
            "title": "Decimal",
            "description": "That price in decimal."
          }
        },
        "type": "object",
        "required": [
          "outcome",
          "bookmaker",
          "price",
          "decimal"
        ],
        "title": "ArbLeg"
      },
      "ArbOpportunity": {
        "properties": {
          "market_type": {
            "type": "string",
            "title": "Market Type"
          },
          "period": {
            "type": "string",
            "title": "Period"
          },
          "line": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Line",
            "description": "AH/totals line; null for 1x2."
          },
          "legs": {
            "items": {
              "$ref": "#/components/schemas/ArbLeg"
            },
            "type": "array",
            "title": "Legs",
            "description": "Best book per outcome \u2014 one leg per outcome."
          },
          "inverse_sum": {
            "type": "number",
            "title": "Inverse Sum",
            "description": "\u03a3(1/decimal) over the legs. < 1 \u21d2 arbitrage."
          },
          "margin_pct": {
            "type": "number",
            "title": "Margin Pct",
            "description": "Guaranteed margin (1/inverse_sum \u2212 1) \u00d7 100."
          }
        },
        "type": "object",
        "required": [
          "market_type",
          "period",
          "legs",
          "inverse_sum",
          "margin_pct"
        ],
        "title": "ArbOpportunity",
        "description": "A cross-book price inefficiency: best price per outcome (same line) inverts to < 1.\n\nDETECTION ONLY \u2014 we report the margin and which book holds each leg; we do NOT size stakes or\nlink out to place bets (InferSports is read-only)."
      },
      "BestPrice": {
        "properties": {
          "outcome": {
            "type": "string",
            "title": "Outcome",
            "description": "home/draw/away (1x2), home/away (AH), or over/under (totals)."
          },
          "bookmaker": {
            "type": "string",
            "title": "Bookmaker"
          },
          "price": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "integer"
              }
            ],
            "title": "Price",
            "description": "Best price for this outcome in the requested format."
          },
          "decimal": {
            "type": "number",
            "title": "Decimal",
            "description": "Same price as decimal odds (for comparison)."
          }
        },
        "type": "object",
        "required": [
          "outcome",
          "bookmaker",
          "price",
          "decimal"
        ],
        "title": "BestPrice"
      },
      "BookLine": {
        "properties": {
          "bookmaker": {
            "type": "string",
            "title": "Bookmaker"
          },
          "line": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Line",
            "description": "Handicap/total line (null for 1x2)."
          },
          "prices": {
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "object",
            "title": "Prices"
          },
          "overround": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Overround",
            "description": "Book margin = \u03a3(1/decimal) \u2212 1 over this market's outcomes."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "open | suspended"
          }
        },
        "type": "object",
        "required": [
          "bookmaker",
          "prices",
          "status"
        ],
        "title": "BookLine"
      },
      "Bookmaker": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "key": {
            "type": "string",
            "title": "Key"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "class": {
            "type": "string",
            "title": "Class"
          }
        },
        "type": "object",
        "required": [
          "id",
          "key",
          "name",
          "class"
        ],
        "title": "Bookmaker"
      },
      "BookmakerInfo": {
        "properties": {
          "key": {
            "type": "string",
            "title": "Key",
            "description": "Stable slug used in ?bookmakers= / bookmakers=[...]."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "English display name."
          },
          "class": {
            "type": "string",
            "title": "Class",
            "description": "'sharp' (Pinnacle) | 'asian'."
          }
        },
        "type": "object",
        "required": [
          "key",
          "name",
          "class"
        ],
        "title": "BookmakerInfo"
      },
      "BookmakersResult": {
        "properties": {
          "count": {
            "type": "integer",
            "title": "Count"
          },
          "bookmakers": {
            "items": {
              "$ref": "#/components/schemas/BookmakerInfo"
            },
            "type": "array",
            "title": "Bookmakers"
          },
          "note": {
            "type": "string",
            "title": "Note",
            "description": "Tier coverage caveat \u2014 e.g. Free tier excludes sharp books; null-safe string."
          }
        },
        "type": "object",
        "required": [
          "count",
          "bookmakers",
          "note"
        ],
        "title": "BookmakersResult"
      },
      "CompareLinesRequest": {
        "properties": {
          "event_id": {
            "type": "string",
            "title": "Event Id",
            "description": "Event id (evt_\u2026)."
          },
          "market_type": {
            "type": "string",
            "title": "Market Type",
            "description": "1x2 | asian_handicap | totals.",
            "default": "asian_handicap"
          },
          "period": {
            "type": "string",
            "title": "Period",
            "description": "full_time | half_time.",
            "default": "full_time"
          },
          "format": {
            "type": "string",
            "title": "Format",
            "description": "Display format for prices (analytics use decimal).",
            "default": "decimal"
          },
          "verbosity": {
            "type": "string",
            "title": "Verbosity",
            "description": "full | terse. 'terse' drops the per-book `books` array (the bulk of the payload) and returns only the computed answer (best_prices / consensus_line / fair_odds / summary). Use it when you only need the worked numbers, not every book's line-by-line quote.",
            "default": "full"
          }
        },
        "type": "object",
        "required": [
          "event_id"
        ],
        "title": "CompareLinesRequest"
      },
      "CompareLinesResult": {
        "properties": {
          "event_id": {
            "type": "string",
            "title": "Event Id"
          },
          "home_team": {
            "type": "string",
            "title": "Home Team"
          },
          "away_team": {
            "type": "string",
            "title": "Away Team"
          },
          "market_type": {
            "type": "string",
            "title": "Market Type"
          },
          "period": {
            "type": "string",
            "title": "Period"
          },
          "format": {
            "type": "string",
            "title": "Format"
          },
          "as_of": {
            "type": "string",
            "title": "As Of"
          },
          "stale": {
            "type": "boolean",
            "title": "Stale",
            "description": "True when as_of is older than the freshness window for the match state."
          },
          "consensus_line": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Consensus Line",
            "description": "Line offered by the most books (null for 1x2 / no books)."
          },
          "lines_offered": {
            "items": {
              "type": "number"
            },
            "type": "array",
            "title": "Lines Offered",
            "description": "Distinct lines present across books (AH/totals)."
          },
          "best_prices": {
            "items": {
              "$ref": "#/components/schemas/BestPrice"
            },
            "type": "array",
            "title": "Best Prices",
            "description": "Best price per outcome on the consensus line (across all returned books)."
          },
          "fair_odds": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "number"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fair Odds",
            "description": "De-vigged fair decimal odds from the sharpest (lowest-overround) book on the consensus line."
          },
          "fair_from": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fair From",
            "description": "Bookmaker key the fair_odds were de-vigged from."
          },
          "books": {
            "items": {
              "$ref": "#/components/schemas/BookLine"
            },
            "type": "array",
            "title": "Books",
            "description": "Every book's quote for this market, line-by-line. Empty when verbosity='terse' (check book_count for how many books backed the analytics \u2014 empty here \u2260 no books)."
          },
          "book_count": {
            "type": "integer",
            "title": "Book Count",
            "default": 0
          },
          "summary": {
            "type": "string",
            "title": "Summary",
            "description": "One ready-to-read sentence stating the consensus line, best prices and fair odds (W2) \u2014 quote it to the user directly. Present in both verbosity modes.",
            "default": ""
          },
          "verbosity": {
            "type": "string",
            "title": "Verbosity",
            "description": "Echo of the requested verbosity ('full' | 'terse').",
            "default": "full"
          }
        },
        "type": "object",
        "required": [
          "event_id",
          "home_team",
          "away_team",
          "market_type",
          "period",
          "format",
          "as_of",
          "stale"
        ],
        "title": "CompareLinesResult"
      },
      "CompareProbRequest": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query",
            "description": "Natural-language fixture, e.g. 'France vs Argentina' or a team."
          },
          "external_prob": {
            "type": "number",
            "title": "External Prob",
            "description": "The external (e.g. prediction-market) implied probability for `outcome`, in (0,1). Pre-net it for the venue's fee/spread (we don't ingest prediction-market data)."
          },
          "market_type": {
            "type": "string",
            "title": "Market Type",
            "description": "1x2 | asian_handicap | totals.",
            "default": "1x2"
          },
          "period": {
            "type": "string",
            "title": "Period",
            "description": "full_time | half_time.",
            "default": "full_time"
          },
          "outcome": {
            "type": "string",
            "title": "Outcome",
            "description": "Which leg the external_prob is for: home/draw/away (1x2), home/away (asian_handicap), over/under (totals).",
            "default": "home"
          },
          "external_label": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "External Label",
            "description": "Cosmetic source label echoed back, e.g. 'polymarket' | 'kalshi'."
          },
          "sport": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sport",
            "description": "Optional filter: football | basketball."
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Optional UTC date YYYY-MM-DD to disambiguate."
          }
        },
        "type": "object",
        "required": [
          "query",
          "external_prob"
        ],
        "title": "CompareProbRequest"
      },
      "CompareProbResult": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status"
          },
          "query": {
            "type": "string",
            "title": "Query"
          },
          "summary": {
            "type": "string",
            "title": "Summary"
          },
          "match": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/MatchSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "market_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Market Type"
          },
          "period": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Period"
          },
          "outcome": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Outcome"
          },
          "line": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Line",
            "description": "Consensus line used (AH/totals; null for 1x2)."
          },
          "fair_prob": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fair Prob",
            "description": "Sharp de-vigged fair probability for `outcome` (0\u20131)."
          },
          "fair_decimal": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fair Decimal",
            "description": "Same fair value as decimal odds."
          },
          "fair_from": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fair From",
            "description": "Bookmaker key the fair line was de-vigged from."
          },
          "external_prob": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "External Prob"
          },
          "external_label": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "External Label"
          },
          "edge_pp": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Edge Pp",
            "description": "(fair_prob \u2212 external_prob)\u00b7100, in percentage points. Positive \u21d2 external YES is cheap."
          },
          "ev_roi": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ev Roi",
            "description": "Expected ROI buying YES at external_prob = edge/external_prob."
          },
          "verdict": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Verdict",
            "description": "good | marginal | no_edge (vs a market-shape noise floor)."
          },
          "devig_method": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Devig Method",
            "description": "proportional | power (power for 3-way 1x2)."
          },
          "as_of": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "As Of"
          },
          "stale": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stale"
          },
          "caveats": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Caveats",
            "description": "Mapping/freshness traps to respect before acting."
          },
          "alternatives": {
            "items": {
              "$ref": "#/components/schemas/MatchAlternative"
            },
            "type": "array",
            "title": "Alternatives"
          },
          "ask_user": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ask User"
          }
        },
        "type": "object",
        "required": [
          "status",
          "query",
          "summary"
        ],
        "title": "CompareProbResult",
        "description": "Is an external probability good vs our sharp de-vigged fair line? DETECTION ONLY (read-only).\n\n``status``: ``ok`` (fair line found, edge computed), ``no_line`` (no sharp fair for that\nmarket/period \u2014 can't judge), ``ambiguous`` (alternatives + ask_user; never guessed), or\n``not_found``. ``edge_pp = (fair_prob \u2212 external_prob)\u00b7100`` (positive \u21d2 the external YES price is\ncheap vs the sharp fair). The caller owns the prediction-market\u2192probability mapping; ``caveats``\nflags the traps (1x2 regulation/draw, AH push mass, staleness)."
      },
      "ConvertHandicapRequest": {
        "properties": {
          "line": {
            "type": "number",
            "title": "Line"
          }
        },
        "type": "object",
        "required": [
          "line"
        ],
        "title": "ConvertHandicapRequest"
      },
      "ConvertHandicapResponse": {
        "properties": {
          "handicap_raw": {
            "type": "string",
            "title": "Handicap Raw"
          },
          "handicap_decimal": {
            "type": "number",
            "title": "Handicap Decimal"
          },
          "handicap_components": {
            "items": {
              "type": "number"
            },
            "type": "array",
            "title": "Handicap Components"
          },
          "explanation": {
            "type": "string",
            "title": "Explanation"
          },
          "win_conditions": {
            "$ref": "#/components/schemas/WinConditions"
          }
        },
        "type": "object",
        "required": [
          "handicap_raw",
          "handicap_decimal",
          "handicap_components",
          "explanation",
          "win_conditions"
        ],
        "title": "ConvertHandicapResponse"
      },
      "ConvertOddsRequest": {
        "properties": {
          "value": {
            "type": "number",
            "title": "Value"
          },
          "from": {
            "type": "string",
            "title": "From"
          },
          "to": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "To"
          },
          "bookmaker": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bookmaker",
            "description": "Optional bookmaker key (e.g. 'crown') whose Malay-odds rounding to apply; omitted \u2192 canonical rounding."
          }
        },
        "type": "object",
        "required": [
          "value",
          "from",
          "to"
        ],
        "title": "ConvertOddsRequest"
      },
      "ConvertOddsResponse": {
        "properties": {
          "decimal": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Decimal"
          },
          "hk": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Hk"
          },
          "malay": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Malay"
          },
          "american": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "American"
          },
          "indonesian": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Indonesian"
          },
          "probability": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Probability"
          }
        },
        "type": "object",
        "title": "ConvertOddsResponse"
      },
      "DataList_Bookmaker_": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Bookmaker"
            },
            "type": "array",
            "title": "Data"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "DataList[Bookmaker]"
      },
      "DataList_Event_": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Event"
            },
            "type": "array",
            "title": "Data"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "DataList[Event]"
      },
      "DataList_Sport_": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Sport"
            },
            "type": "array",
            "title": "Data"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "DataList[Sport]"
      },
      "DateRange": {
        "properties": {
          "from": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "From"
          },
          "to": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "To"
          }
        },
        "type": "object",
        "title": "DateRange"
      },
      "Decision": {
        "properties": {
          "safe_to_proceed": {
            "type": "boolean",
            "title": "Safe To Proceed",
            "description": "True when the result is unambiguous enough to act on without asking the user."
          },
          "confidence": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Confidence",
            "description": "Resolution confidence 0\u20131 (null when not applicable)."
          },
          "ask_user": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ask User",
            "description": "A disambiguation question to put to the user; null when safe_to_proceed."
          },
          "next_action": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NextAction"
              },
              {
                "type": "null"
              }
            ],
            "description": "Suggested next call; null when the caller must ask first or nothing follows."
          }
        },
        "type": "object",
        "required": [
          "safe_to_proceed"
        ],
        "title": "Decision",
        "description": "Pre-computed go/no-go for the caller (W3): we decide whether it's safe to proceed so the\nagent doesn't have to reason it out (and risk guessing). Branch on ``safe_to_proceed``:\ntrue \u2192 act on the result without asking; false \u2192 put ``ask_user`` to the human, or follow\n``next_action`` when there's a clear recovery step (e.g. nothing resolved \u2192 list fixtures)."
      },
      "Event": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "sport": {
            "type": "string",
            "title": "Sport"
          },
          "league": {
            "$ref": "#/components/schemas/LeagueRef"
          },
          "home_team": {
            "$ref": "#/components/schemas/TeamRef"
          },
          "away_team": {
            "$ref": "#/components/schemas/TeamRef"
          },
          "scheduled_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scheduled At"
          },
          "status": {
            "type": "string",
            "title": "Status"
          }
        },
        "type": "object",
        "required": [
          "id",
          "sport",
          "league",
          "home_team",
          "away_team",
          "status"
        ],
        "title": "Event"
      },
      "EventCandidate": {
        "properties": {
          "event_id": {
            "type": "string",
            "title": "Event Id"
          },
          "confidence": {
            "type": "number",
            "title": "Confidence"
          }
        },
        "type": "object",
        "required": [
          "event_id",
          "confidence"
        ],
        "title": "EventCandidate"
      },
      "EventOpening": {
        "properties": {
          "event_id": {
            "type": "string",
            "title": "Event Id"
          },
          "source": {
            "type": "string",
            "title": "Source"
          },
          "opening": {
            "items": {
              "$ref": "#/components/schemas/OpeningQuote"
            },
            "type": "array",
            "title": "Opening"
          }
        },
        "type": "object",
        "required": [
          "event_id",
          "opening"
        ],
        "title": "EventOpening"
      },
      "EventState": {
        "properties": {
          "event_id": {
            "type": "string",
            "title": "Event Id"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "score": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Score"
              },
              {
                "type": "null"
              }
            ]
          },
          "red_cards": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Score"
              },
              {
                "type": "null"
              }
            ]
          },
          "clock": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Clock"
          },
          "as_of": {
            "type": "string",
            "title": "As Of"
          }
        },
        "type": "object",
        "required": [
          "event_id",
          "status",
          "as_of"
        ],
        "title": "EventState"
      },
      "ExplainHandicapRequest": {
        "properties": {
          "line": {
            "type": "number",
            "title": "Line",
            "description": "Asian handicap line, a multiple of 0.25 (e.g. -0.75, 0, +1.5)."
          }
        },
        "type": "object",
        "required": [
          "line"
        ],
        "title": "ExplainHandicapRequest"
      },
      "Favorite": {
        "properties": {
          "outcome": {
            "type": "string",
            "title": "Outcome",
            "description": "home | draw | away."
          },
          "team": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Team",
            "description": "Team name for home/away; null for a draw."
          },
          "win_probability": {
            "type": "number",
            "title": "Win Probability",
            "description": "De-vigged implied probability for this outcome (0\u20131)."
          },
          "source": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Source",
            "description": "Bookmaker key the 1x2 was de-vigged from."
          }
        },
        "type": "object",
        "required": [
          "outcome",
          "win_probability"
        ],
        "title": "Favorite",
        "description": "Who the market favors, in plain terms \u2014 de-vigged from the full-time 1x2 line."
      },
      "FindArbitrageRequest": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query",
            "description": "Natural-language fixture, e.g. 'Netherlands vs Algeria'."
          },
          "markets": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Markets",
            "description": "Filter to these markets (1x2 / asian_handicap / totals); default all."
          },
          "period": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Period",
            "description": "Filter to full_time | half_time; default both."
          },
          "min_margin_pct": {
            "type": "number",
            "minimum": 0.0,
            "title": "Min Margin Pct",
            "description": "Only report opportunities whose guaranteed margin is at least this %%. Default 0 (any positive arb).",
            "default": 0.0
          },
          "format": {
            "type": "string",
            "title": "Format",
            "description": "Odds format for rendered prices.",
            "default": "decimal"
          },
          "sport": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sport",
            "description": "Disambiguation hint: football | basketball."
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Disambiguation hint: UTC date YYYY-MM-DD."
          }
        },
        "type": "object",
        "required": [
          "query"
        ],
        "title": "FindArbitrageRequest"
      },
      "FindArbitrageResult": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status"
          },
          "query": {
            "type": "string",
            "title": "Query"
          },
          "summary": {
            "type": "string",
            "title": "Summary"
          },
          "match": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/MatchSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "opportunities": {
            "items": {
              "$ref": "#/components/schemas/ArbOpportunity"
            },
            "type": "array",
            "title": "Opportunities"
          },
          "alternatives": {
            "items": {
              "$ref": "#/components/schemas/MatchAlternative"
            },
            "type": "array",
            "title": "Alternatives"
          },
          "ask_user": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ask User"
          },
          "as_of": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "As Of"
          },
          "stale": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stale",
            "description": "Freshness of the odds (W4); null if no match."
          },
          "decision": {
            "$ref": "#/components/schemas/Decision",
            "description": "Pre-computed go/no-go (W3): safe_to_proceed + suggested next_action."
          }
        },
        "type": "object",
        "required": [
          "status",
          "query",
          "summary",
          "decision"
        ],
        "title": "FindArbitrageResult",
        "description": "One-call NL\u2192arb scan: cross-book price inefficiencies within a fixture.\n\nDETECTION ONLY (read-only): margin + which book holds each leg; never stakes or bet links.\n``status`` is the same go/no-go as get_sharp_line (ok | ambiguous | not_found; never guessed).\nFree tier drops the sharp book, which both shrinks the book set and removes the most common\narb counterparty \u2014 expect fewer hits."
      },
      "FindMatchRequest": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query",
            "description": "Natural-language fixture, e.g. 'Man City vs Arsenal' or a single team name."
          },
          "sport": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sport",
            "description": "Optional filter: football | basketball."
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Optional UTC date 'YYYY-MM-DD' to disambiguate same-name fixtures."
          }
        },
        "type": "object",
        "required": [
          "query"
        ],
        "title": "FindMatchRequest"
      },
      "FindMatchResult": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "matched | ambiguous | not_found"
          },
          "query": {
            "type": "string",
            "title": "Query"
          },
          "match": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/MatchSummary"
              },
              {
                "type": "null"
              }
            ],
            "description": "Best match (null if not_found)."
          },
          "alternatives": {
            "items": {
              "$ref": "#/components/schemas/MatchAlternative"
            },
            "type": "array",
            "title": "Alternatives",
            "description": "Other plausible fixtures, best-first."
          },
          "decision": {
            "$ref": "#/components/schemas/Decision",
            "description": "Pre-computed go/no-go (W3): safe_to_proceed, ask_user, and the suggested next_action."
          }
        },
        "type": "object",
        "required": [
          "status",
          "query",
          "decision"
        ],
        "title": "FindMatchResult"
      },
      "FindValueRequest": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query",
            "description": "Natural-language fixture, e.g. 'Netherlands vs Algeria'."
          },
          "markets": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Markets",
            "description": "Filter to these markets (1x2 / asian_handicap / totals); default all."
          },
          "period": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Period",
            "description": "Filter to full_time | half_time; default both."
          },
          "min_edge_pct": {
            "type": "number",
            "minimum": 0.0,
            "title": "Min Edge Pct",
            "description": "Only report outcomes whose best price beats the de-vigged fair price by at least this %% (edge = best/fair \u2212 1). Default 1.0.",
            "default": 1.0
          },
          "format": {
            "type": "string",
            "title": "Format",
            "description": "Odds format for rendered prices.",
            "default": "decimal"
          },
          "sport": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sport",
            "description": "Disambiguation hint: football | basketball."
          },
          "date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Date",
            "description": "Disambiguation hint: UTC date YYYY-MM-DD."
          }
        },
        "type": "object",
        "required": [
          "query"
        ],
        "title": "FindValueRequest"
      },
      "FindValueResult": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status"
          },
          "query": {
            "type": "string",
            "title": "Query"
          },
          "summary": {
            "type": "string",
            "title": "Summary"
          },
          "match": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/MatchSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "value_bets": {
            "items": {
              "$ref": "#/components/schemas/ValueBet"
            },
            "type": "array",
            "title": "Value Bets"
          },
          "fair_source": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fair Source",
            "description": "Bookmaker key whose de-vigged line was used as the fair reference."
          },
          "note": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Note",
            "description": "Caveats (e.g. Free tier: no sharp book, fair is approximate)."
          },
          "alternatives": {
            "items": {
              "$ref": "#/components/schemas/MatchAlternative"
            },
            "type": "array",
            "title": "Alternatives"
          },
          "ask_user": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ask User"
          },
          "as_of": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "As Of"
          },
          "stale": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stale",
            "description": "Freshness of the odds (W4); null if no match."
          },
          "decision": {
            "$ref": "#/components/schemas/Decision",
            "description": "Pre-computed go/no-go (W3): safe_to_proceed + suggested next_action."
          }
        },
        "type": "object",
        "required": [
          "status",
          "query",
          "summary",
          "decision"
        ],
        "title": "FindValueResult",
        "description": "One-call NL\u2192value scan: where does a book beat the sharp de-vigged fair line?\n\nDETECTION ONLY (read-only): we surface the edge, not stakes or bet links. ``status`` is the\nsame go/no-go as get_sharp_line (ok | ambiguous | not_found; ambiguous never guessed). Requires\na sharp reference to de-vig \u2014 on the Free tier the sharp book (Pinnacle) is gated, so fair odds\nfall back to the tightest available book and ``note`` flags the reduced confidence."
      },
      "GetMatchOddsRequest": {
        "properties": {
          "event_id": {
            "type": "string",
            "title": "Event Id",
            "description": "Event id from find_match / list_today_matches (evt_\u2026)."
          },
          "markets": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Markets",
            "description": "Filter to these market types: 1x2 | asian_handicap | totals."
          },
          "bookmakers": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bookmakers",
            "description": "Filter to these bookmaker keys, e.g. ['pinnacle','crown']."
          },
          "period": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Period",
            "description": "full_time | half_time (default: both)."
          },
          "format": {
            "type": "string",
            "title": "Format",
            "description": "Odds format: decimal | hk | malay | american | indonesian | probability.",
            "default": "decimal"
          }
        },
        "type": "object",
        "required": [
          "event_id"
        ],
        "title": "GetMatchOddsRequest"
      },
      "GetResultRequest": {
        "properties": {
          "event_id": {
            "type": "string",
            "title": "Event Id",
            "description": "Event id (evt_\u2026) from find_match / list_results."
          }
        },
        "type": "object",
        "required": [
          "event_id"
        ],
        "title": "GetResultRequest"
      },
      "GetResultResult": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "found | not_found."
          },
          "event_id": {
            "type": "string",
            "title": "Event Id",
            "description": "Echo of the requested event id."
          },
          "result": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ResultEntry"
              },
              {
                "type": "null"
              }
            ],
            "description": "The cached result, or null when not in the 30-day cache."
          }
        },
        "type": "object",
        "required": [
          "status",
          "event_id"
        ],
        "title": "GetResultResult",
        "description": "One finished-match result, or status='not_found' when it isn't in the cache."
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "League": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "sport": {
            "type": "string",
            "title": "Sport"
          }
[...]
